# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.pid.lock
*.seed
temp/
*.tmp
.npm
.*cache
.node_repl_history

# Config
.env

# Coverage
flow-coverage/
lib-cov/
coverage/
.nyc_output

# Bundles
build/
dist/
lib/
bundle/

# Docs
/docs/
/doc/

# Deps
node_modules/
jspm_packages/
packages/*/lib

# Typedefs
flow-typed/npm/

# IDE
.idea
.idea/
